task:
  name: build_ios_debug
  osx_instance:
    image: catalina-flutter

  env:
    CLONE_URL: "{{ CI_REPOSITORY_URL }}"
    CLONE_SHA: "{{ CI_COMMIT_SHA }}"

  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
    - flutter channel beta
    - flutter upgrade

  pub_cache:
    folder: ~/.pub-cache
  gradle_cache:
    folder: $HOME/.gradle/caches
  cocoapods_cache:
    folder: $HOME/Library/Caches/CocoaPods

  test_script: flutter test

  build_script: flutter build ios --release --no-codesign

  ios_debug_ipa_artifacts:
    path: "build/ios/ipa/*.ipa"
  ios_debug_app_artifacts:
    path: "build/ios/iphoneos/*.app"
  always:
    ios_xcodelogs_artifacts:
      path: /tmp/xcodebuild_logs/*.log"
